{% load static %}
<div class="footer">
    <div class="footer-grid">
        <h2>Reach Us on:</h2>
        <p>Contact : +91 XXXXX XXXXX </p>
        <p>Email : societpro@gmail.com</p>
    </div>
    <div class="grid">
        <h2>Address:</h2>
        <p>14, Gayatri Pooja Co
            Operative Housing Society,<br>
            Badlapur, Thane - 421503
            (Near Dhanvantri Hospital,
            Kulgaon)</p>
    </div>
    <div class="grid">
        <iframe class="map"
            src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d471.08649983458406!2d73.23967748228586!3d19.164954897027297!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTnCsDA5JzUzLjkiTiA3M8KwMTQnMjMuOCJF!5e0!3m2!1sen!2sin!4v1677591615224!5m2!1sen!2sin"
              style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
<div class="copyright"> <p>&#169; Society Pro Pvt. Limited 2023</p>
 <p>Created and deployed by Narendra Kulkarni</p>
</div>






<script src="{% static 'js/index.js' %}"></script>


</body>

</html>